* {
  margin: 0;
  padding: 0;
}

.Header-NavBar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100vw;
  height: 10vh;
  background-color: #017efe;
  color: white;
}

.Header-NavBar-Logo {
  margin-left: 80px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 2.2rem;
  font-weight: 600;
}

.Header-Login {
  display: inline;
  margin-right: 40px;
}

.Header-Btn {
  display: inline;
  margin-right: 80px;
}

button {
  background-color: #414141;
  border: none;
  font-size: 1rem;
  color: white;
  margin: 20px 0 10px;
  padding: 6px 12px;
}

button:hover {
  background-color:#292929;

}

.Header-SubHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100vw;
  height: 10vh;
  background-color: #414141;
  color: white;
}

.Header-SubHeader-Title {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.8rem;
  font-weight: 400;
  margin-left: 80px;
}

