* {
  margin: 0;
  padding: 0;
}

.Header-NavBar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100vw;
  height: 10vh;
  background-color: #017efe;
  color: white;
}

.Header-NavBar-Logo {
  margin-left: 80px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 2.2rem;
  font-weight: 600;
}

.Header-Login {
  display: inline;
  margin-right: 40px;
}

.Header-Btn {
  display: inline;
  margin-right: 80px;
}

button {
  background-color: #414141;
  border: none;
  font-size: 1rem;
  color: white;
  margin: 20px 0 10px;
  padding: 6px 12px;
}

button:hover {
  background-color:#292929;

}

.Header-SubHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100vw;
  height: 10vh;
  background-color: #414141;
  color: white;
}

.Header-SubHeader-Title {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.8rem;
  font-weight: 400;
  margin-left: 80px;
}

.Footer-Container {
  position: relative;
}

.Footer{
  position: absolute;
  bottom: 0;
  width: 100vw;
  height: 35vh;
  background-color: #1e1e1e;
  color: white;
}

.Footer-Links {
  font-family: Arial, Helvetica, sans-serif;
  font-size: .9rem;
  font-weight: 400;
  margin: 40px 0 0 80px;
}

.Footer-Copyright {
  font-family: Arial, Helvetica, sans-serif;
  font-size: .8rem;
  font-weight: 300;
  margin: 20px 0 0 80px;
  color: rgb(198, 198, 198);
}


.Footer-Logos {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 50px 80px 50px 80px;
}

/* .Footer-Logos-Social {
  height: 20px;
} */

.Facebook {
  height: 30px;
  margin-right: 30px;
}

.Twitter {
  height: 30px;
  margin-right: 30px;
}

.Instagram {
  height: 30px;
}

.AppStore {
  height: 40px;
  margin-right: 50px;
}

.PlayStore {
  height: 40px;
  margin-right: 50px;
}

.WindowsStore {
  height: 40px;
  margin-right: 50px;
}

